@font-face {
  font-family: 'entypo';
  src:
    url('entypo.ttf?76kg9z') format('truetype'),
    url('entypo.woff?76kg9z') format('woff'),
    url('entypo.svg?76kg9z#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="entypo--"], [class*=" entypo--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'entypo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.entypo--grid:before {
  content: "\ea1f";
}
.entypo--filter:before {
  content: "\ea20";
}
.entypo--shield-lock:before {
  content: "\ea21";
}
.entypo--shield:before {
  content: "\ea23";
}
.entypo--toggle:before {
  content: "\ea24";
}
.entypo--user-check:before {
  content: "\ea25";
}
.entypo--laptop:before {
  content: "\ea26";
}
.entypo--dot-outline:before {
  content: "\ea27";
}
.entypo--draggable:before {
  content: "\ea2a";
}
.entypo--copy:before {
  content: "\ea2b";
}
.entypo--remove-user:before {
  content: "\ea2c";
}
.entypo--eye-with-line:before {
  content: "\ea2d";
}
.entypo--excel:before {
  content: "\ea2e";
}
.entypo--circle-pound:before {
  content: "\ea2f";
}
.entypo--school:before {
  content: "\ea31";
}
.entypo--circle-plus-hollow:before {
  content: "\ea1e";
}
.entypo--reorder:before {
  content: "\ea1d";
}
.entypo--users:before {
  content: "\ea1c";
}
.entypo--address:before {
  content: "\e900";
}
.entypo--adjust:before {
  content: "\e901";
}
.entypo--air:before {
  content: "\e902";
}
.entypo--alert:before {
  content: "\e903";
}
.entypo--archive:before {
  content: "\e904";
}
.entypo--arrow-combo:before {
  content: "\e905";
}
.entypo--arrows-ccw:before {
  content: "\e906";
}
.entypo--attach:before {
  content: "\e907";
}
.entypo--attention:before {
  content: "\e908";
}
.entypo--back:before {
  content: "\e909";
}
.entypo--back-in-time:before {
  content: "\e90a";
}
.entypo--bag:before {
  content: "\e90b";
}
.entypo--basket:before {
  content: "\e90c";
}
.entypo--battery:before {
  content: "\e90d";
}
.entypo--behance:before {
  content: "\e90e";
}
.entypo--bell:before {
  content: "\e90f";
}
.entypo--block:before {
  content: "\e910";
}
.entypo--book:before {
  content: "\e911";
}
.entypo--bookmark:before {
  content: "\e912";
}
.entypo--bookmarks:before {
  content: "\e913";
}
.entypo--book-open:before {
  content: "\e914";
}
.entypo--box:before {
  content: "\e915";
}
.entypo--briefcase:before {
  content: "\e916";
}
.entypo--brush:before {
  content: "\e917";
}
.entypo--bucket:before {
  content: "\e918";
}
.entypo--calendar:before {
  content: "\e919";
}
.entypo--camera:before {
  content: "\e91a";
}
.entypo--cancel:before {
  content: "\e91b";
}
.entypo--cancel-circled:before {
  content: "\e91c";
}
.entypo--cancel-squared:before {
  content: "\e91d";
}
.entypo--cc:before {
  content: "\e91e";
}
.entypo--cc-by:before {
  content: "\e91f";
}
.entypo--cc-nc:before {
  content: "\e920";
}
.entypo--cc-nc-eu:before {
  content: "\e921";
}
.entypo--cc-nc-jp:before {
  content: "\e922";
}
.entypo--cc-nd:before {
  content: "\e923";
}
.entypo--cc-pd:before {
  content: "\e924";
}
.entypo--cc-remix:before {
  content: "\e925";
}
.entypo--cc-sa:before {
  content: "\e926";
}
.entypo--cc-share:before {
  content: "\e927";
}
.entypo--ccw:before {
  content: "\e928";
}
.entypo--cc-zero:before {
  content: "\e929";
}
.entypo--cd:before {
  content: "\e92a";
}
.entypo--chart-area:before {
  content: "\e92b";
}
.entypo--chart-bar:before {
  content: "\e92c";
}
.entypo--chart-line:before {
  content: "\e92d";
}
.entypo--chart-pie:before {
  content: "\e92e";
}
.entypo--chat:before {
  content: "\e92f";
}
.entypo--check:before {
  content: "\e930";
}
.entypo--clipboard:before {
  content: "\e931";
}
.entypo--clock:before {
  content: "\e932";
}
.entypo--cloud:before {
  content: "\e933";
}
.entypo--cloud-thunder:before {
  content: "\e934";
}
.entypo--code:before {
  content: "\e935";
}
.entypo--cog:before {
  content: "\e936";
}
.entypo--comment:before {
  content: "\e937";
}
.entypo--compass:before {
  content: "\e938";
}
.entypo--credit-card:before {
  content: "\e939";
}
.entypo--cup:before {
  content: "\e93a";
}
.entypo--cw:before {
  content: "\e93b";
}
.entypo--database:before {
  content: "\e93c";
}
.entypo--db-shape:before {
  content: "\e93d";
}
.entypo--direction:before {
  content: "\e93e";
}
.entypo--doc:before {
  content: "\e93f";
}
.entypo--doc-landscape:before {
  content: "\e940";
}
.entypo--docs:before {
  content: "\e941";
}
.entypo--doc-text:before {
  content: "\e942";
}
.entypo--doc-text-inv:before {
  content: "\e943";
}
.entypo--dot:before {
  content: "\e944";
}
.entypo--dot-2:before {
  content: "\e945";
}
.entypo--dot-3:before {
  content: "\e946";
}
.entypo--down:before {
  content: "\e947";
}
.entypo--down-bold:before {
  content: "\e948";
}
.entypo--down-circled:before {
  content: "\e949";
}
.entypo--down-dir:before {
  content: "\e94a";
}
.entypo--download:before {
  content: "\e94b";
}
.entypo--down-open:before {
  content: "\e94c";
}
.entypo--down-open-big:before {
  content: "\e94d";
}
.entypo--down-open-mini:before {
  content: "\e94e";
}
.entypo--down-thin:before {
  content: "\e94f";
}
.entypo--dribbble:before {
  content: "\e950";
}
.entypo--dribbble-circled:before {
  content: "\e951";
}
.entypo--drive:before {
  content: "\e952";
}
.entypo--dropbox:before {
  content: "\e953";
}
.entypo--droplet:before {
  content: "\e954";
}
.entypo--erase:before {
  content: "\e955";
}
.entypo--evernote:before {
  content: "\e956";
}
.entypo--export:before {
  content: "\e957";
}
.entypo--eye:before {
  content: "\e958";
}
.entypo--facebook:before {
  content: "\e959";
}
.entypo--facebook-circled:before {
  content: "\e95a";
}
.entypo--facebook-squared:before {
  content: "\e95b";
}
.entypo--fast-backward:before {
  content: "\e95c";
}
.entypo--fast-forward:before {
  content: "\e95d";
}
.entypo--feather:before {
  content: "\e95e";
}
.entypo--flag:before {
  content: "\e95f";
}
.entypo--flash:before {
  content: "\e960";
}
.entypo--flashlight:before {
  content: "\e961";
}
.entypo--flattr:before {
  content: "\e962";
}
.entypo--flickr:before {
  content: "\e963";
}
.entypo--flickr-circled:before {
  content: "\e964";
}
.entypo--flight:before {
  content: "\e965";
}
.entypo--floppy:before {
  content: "\e966";
}
.entypo--flow-branch:before {
  content: "\e967";
}
.entypo--flow-cascade:before {
  content: "\e968";
}
.entypo--flow-line:before {
  content: "\e969";
}
.entypo--flow-parallel:before {
  content: "\e96a";
}
.entypo--flow-tree:before {
  content: "\e96b";
}
.entypo--folder:before {
  content: "\e96c";
}
.entypo--forward:before {
  content: "\e96d";
}
.entypo--gauge:before {
  content: "\e96e";
}
.entypo--github:before {
  content: "\e96f";
}
.entypo--github-circled:before {
  content: "\e970";
}
.entypo--globe:before {
  content: "\e971";
}
.entypo--google-circles:before {
  content: "\e972";
}
.entypo--gplus:before {
  content: "\e973";
}
.entypo--gplus-circled:before {
  content: "\e974";
}
.entypo--graduation-cap:before {
  content: "\e975";
}
.entypo--heart:before {
  content: "\e976";
}
.entypo--heart-empty:before {
  content: "\e977";
}
.entypo--help:before {
  content: "\e978";
}
.entypo--help-circled:before {
  content: "\e979";
}
.entypo--home:before {
  content: "\e97a";
}
.entypo--hourglass:before {
  content: "\e97b";
}
.entypo--inbox:before {
  content: "\e97c";
}
.entypo--infinity:before {
  content: "\e97d";
}
.entypo--info:before {
  content: "\e97e";
}
.entypo--info-circled:before {
  content: "\e97f";
}
.entypo--instagrem:before {
  content: "\e980";
}
.entypo--install:before {
  content: "\e981";
}
.entypo--key:before {
  content: "\e982";
}
.entypo--keyboard:before {
  content: "\e983";
}
.entypo--lamp:before {
  content: "\e984";
}
.entypo--language:before {
  content: "\e985";
}
.entypo--lastfm:before {
  content: "\e986";
}
.entypo--lastfm-circled:before {
  content: "\e987";
}
.entypo--layout:before {
  content: "\e988";
}
.entypo--leaf:before {
  content: "\e989";
}
.entypo--left:before {
  content: "\e98a";
}
.entypo--left-bold:before {
  content: "\e98b";
}
.entypo--left-circled:before {
  content: "\e98c";
}
.entypo--left-dir:before {
  content: "\e98d";
}
.entypo--left-open:before {
  content: "\e98e";
}
.entypo--left-open-big:before {
  content: "\e98f";
}
.entypo--left-open-mini:before {
  content: "\e990";
}
.entypo--left-thin:before {
  content: "\e991";
}
.entypo--level-down:before {
  content: "\e992";
}
.entypo--level-up:before {
  content: "\e993";
}
.entypo--lifebuoy:before {
  content: "\e994";
}
.entypo--light-down:before {
  content: "\e995";
}
.entypo--light-up:before {
  content: "\e996";
}
.entypo--link:before {
  content: "\e997";
}
.entypo--linkedin:before {
  content: "\e998";
}
.entypo--linkedin-circled:before {
  content: "\e999";
}
.entypo--list:before {
  content: "\e99a";
}
.entypo--list-add:before {
  content: "\e99b";
}
.entypo--location:before {
  content: "\e99c";
}
.entypo--lock:before {
  content: "\e99d";
}
.entypo--lock-open:before {
  content: "\e99e";
}
.entypo--login:before {
  content: "\e99f";
}
.entypo--logo-db:before {
  content: "\e9a0";
}
.entypo--logout:before {
  content: "\e9a1";
}
.entypo--loop:before {
  content: "\e9a2";
}
.entypo--magnet:before {
  content: "\e9a3";
}
.entypo--mail:before {
  content: "\e9a4";
}
.entypo--map:before {
  content: "\e9a5";
}
.entypo--megaphone:before {
  content: "\e9a6";
}
.entypo--menu:before {
  content: "\e9a7";
}
.entypo--mic:before {
  content: "\e9a8";
}
.entypo--minus:before {
  content: "\e9a9";
}
.entypo--minus-circled:before {
  content: "\e9aa";
}
.entypo--minus-squared:before {
  content: "\e9ab";
}
.entypo--mixi:before {
  content: "\e9ac";
}
.entypo--mobile:before {
  content: "\e9ad";
}
.entypo--monitor:before {
  content: "\e9ae";
}
.entypo--moon:before {
  content: "\e9af";
}
.entypo--mouse:before {
  content: "\e9b0";
}
.entypo--music:before {
  content: "\e9b1";
}
.entypo--mute:before {
  content: "\e9b2";
}
.entypo--network:before {
  content: "\e9b3";
}
.entypo--newspaper:before {
  content: "\e9b4";
}
.entypo--note:before {
  content: "\e9b5";
}
.entypo--note-beamed:before {
  content: "\e9b6";
}
.entypo--palette:before {
  content: "\e9b7";
}
.entypo--paper-plane:before {
  content: "\e9b8";
}
.entypo--pause:before {
  content: "\e9b9";
}
.entypo--paypal:before {
  content: "\e9ba";
}
.entypo--pencil:before {
  content: "\e9bb";
}
.entypo--phone:before {
  content: "\e9bc";
}
.entypo--picasa:before {
  content: "\e9bd";
}
.entypo--picture:before {
  content: "\e9be";
}
.entypo--pinterest:before {
  content: "\e9bf";
}
.entypo--pinterest-circled:before {
  content: "\e9c0";
}
.entypo--play:before {
  content: "\e9c1";
}
.entypo--plus:before {
  content: "\e9c2";
}
.entypo--plus-circled:before {
  content: "\e9c3";
}
.entypo--plus-squared:before {
  content: "\e9c4";
}
.entypo--popup:before {
  content: "\e9c5";
}
.entypo--print:before {
  content: "\e9c6";
}
.entypo--progress-0:before {
  content: "\e9c7";
}
.entypo--progress-1:before {
  content: "\e9c8";
}
.entypo--progress-2:before {
  content: "\e9c9";
}
.entypo--progress-3:before {
  content: "\e9ca";
}
.entypo--publish:before {
  content: "\e9cb";
}
.entypo--qq:before {
  content: "\e9cc";
}
.entypo--quote:before {
  content: "\e9cd";
}
.entypo--rdio:before {
  content: "\e9ce";
}
.entypo--rdio-circled:before {
  content: "\e9cf";
}
.entypo--record:before {
  content: "\e9d0";
}
.entypo--renren:before {
  content: "\e9d1";
}
.entypo--reply:before {
  content: "\e9d2";
}
.entypo--reply-all:before {
  content: "\e9d3";
}
.entypo--resize-full:before {
  content: "\e9d4";
}
.entypo--resize-small:before {
  content: "\e9d5";
}
.entypo--retweet:before {
  content: "\e9d6";
}
.entypo--right:before {
  content: "\e9d7";
}
.entypo--right-bold:before {
  content: "\e9d8";
}
.entypo--right-circled:before {
  content: "\e9d9";
}
.entypo--right-dir:before {
  content: "\e9da";
}
.entypo--right-open:before {
  content: "\e9db";
}
.entypo--right-open-big:before {
  content: "\e9dc";
}
.entypo--right-open-mini:before {
  content: "\e9dd";
}
.entypo--right-thin:before {
  content: "\e9de";
}
.entypo--rocket:before {
  content: "\e9df";
}
.entypo--rss:before {
  content: "\e9e0";
}
.entypo--search:before {
  content: "\e9e1";
}
.entypo--share:before {
  content: "\e9e2";
}
.entypo--shareable:before {
  content: "\e9e3";
}
.entypo--shuffle:before {
  content: "\e9e4";
}
.entypo--signal:before {
  content: "\e9e5";
}
.entypo--sina-weibo:before {
  content: "\e9e6";
}
.entypo--skype:before {
  content: "\e9e7";
}
.entypo--skype-circled:before {
  content: "\e9e8";
}
.entypo--smashing:before {
  content: "\e9e9";
}
.entypo--sound:before {
  content: "\e9ea";
}
.entypo--soundcloud:before {
  content: "\e9eb";
}
.entypo--spotify:before {
  content: "\e9ec";
}
.entypo--spotify-circled:before {
  content: "\e9ed";
}
.entypo--star:before {
  content: "\e9ee";
}
.entypo--star-empty:before {
  content: "\e9ef";
}
.entypo--stop:before {
  content: "\e9f0";
}
.entypo--stumbleupon:before {
  content: "\e9f1";
}
.entypo--stumbleupon-circled:before {
  content: "\e9f2";
}
.entypo--suitcase:before {
  content: "\e9f3";
}
.entypo--sweden:before {
  content: "\e9f4";
}
.entypo--switch:before {
  content: "\e9f5";
}
.entypo--tag:before {
  content: "\e9f6";
}
.entypo--tape:before {
  content: "\e9f7";
}
.entypo--target:before {
  content: "\e9f8";
}
.entypo--thermometer:before {
  content: "\e9f9";
}
.entypo--thumbs-down:before {
  content: "\e9fa";
}
.entypo--thumbs-up:before {
  content: "\e9fb";
}
.entypo--ticket:before {
  content: "\e9fc";
}
.entypo--to-end:before {
  content: "\e9fd";
}
.entypo--tools:before {
  content: "\e9fe";
}
.entypo--to-start:before {
  content: "\e9ff";
}
.entypo--traffic-cone:before {
  content: "\ea00";
}
.entypo--trash:before {
  content: "\ea01";
}
.entypo--trophy:before {
  content: "\ea02";
}
.entypo--tumblr:before {
  content: "\ea03";
}
.entypo--tumblr-circled:before {
  content: "\ea04";
}
.entypo--twitter:before {
  content: "\ea05";
}
.entypo--twitter-circled:before {
  content: "\ea06";
}
.entypo--up:before {
  content: "\ea07";
}
.entypo--up-bold:before {
  content: "\ea08";
}
.entypo--up-circled:before {
  content: "\ea09";
}
.entypo--up-dir:before {
  content: "\ea0a";
}
.entypo--upload:before {
  content: "\ea0b";
}
.entypo--upload-cloud:before {
  content: "\ea0c";
}
.entypo--up-open:before {
  content: "\ea0d";
}
.entypo--up-open-big:before {
  content: "\ea0e";
}
.entypo--up-open-mini:before {
  content: "\ea0f";
}
.entypo--up-thin:before {
  content: "\ea10";
}
.entypo--user:before {
  content: "\ea11";
}
.entypo--user-add:before {
  content: "\ea12";
}
.entypo--users-1:before {
  content: "\ea13";
}
.entypo--vcard:before {
  content: "\ea14";
}
.entypo--video:before {
  content: "\ea15";
}
.entypo--vimeo:before {
  content: "\ea16";
}
.entypo--vimeo-circled:before {
  content: "\ea17";
}
.entypo--vkontakte:before {
  content: "\ea18";
}
.entypo--volume:before {
  content: "\ea19";
}
.entypo--water:before {
  content: "\ea1a";
}
.entypo--window:before {
  content: "\ea1b";
}
